{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}
{% block contenu %}

  <div class="container">
  <br>

<div class="alert alert-red alert-dismissible fade show d-flex align-items-center shadow-sm" role="alert">
  <img class="mr-3" src="../img/notificationB.png" alt="" width="48" height="48">
  <div class="lh-100">
    <h6 class="mb-0 text-black lh-100">Innov Anglais disponible sur vos téléphones. </h6>
    <small>Depuis 2019</small>
  </div>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>

<h2>Connexion</h2>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        



         <form class="needs-validation" novalidate="">
                 <div class="mb-3">
                   <label for="email">Email</label>
                   <input type="email" class="form-control" id="email" placeholder="you@example.com">
                   <div class="invalid-feedback">
                     Veuillez saisir une adresse e-mail valide.
                   </div>
                 </div>
             
             <div class="mb-3">
                     <label for="password">Mots de passe</label>
                     <input type="password" class="form-control" id="password" placeholder="" value="" required="">
                     <div class="invalid-feedback">
                       Un Mots de passe valide est requis.
                     </div>
                 </div>


                 <hr class="mb-4">
                 
                 <button class="btn btn-primary btn-lg btn-block" type="submit">Connexion</button>
                 <small class="d-block text-right mt-3">
             <a href="{{path('inscription')}}">S'inscrire</a>
      </small>
               </form>

    </div>

  </div>
{% endblock %}
